# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/lib/features/activity_items/data/model/activity_items_model.freezed.dart
/lib/features/activity_items/data/model/activity_items_model.g.dart
/lib/features/activity_items/data/state/activity_items_state.freezed.dart
/lib/features/activities/data/model/activity_model.freezed.dart
/lib/features/activities/data/model/activity_model.g.dart
/lib/features/activities/data/state/activity_state.freezed.dart
/lib/features/camps/data/model/camp_model.freezed.dart
/lib/features/camps/data/model/camp_model.g.dart
/lib/features/camps/data/state/camp_state.freezed.dart
/lib/features/create_activity/data/state/create_activity_state.freezed.dart
/lib/features/goal/data/model/goal_model.freezed.dart
/lib/features/goal/data/model/goal_model.g.dart
/lib/features/goal/data/state/goal_state.freezed.dart
/lib/features/season/data/model/season_model.freezed.dart
/lib/features/season/data/model/season_model.g.dart
/lib/features/season/data/state/season_state.freezed.dart
/lib/features/user_camps/data/model/user_camp_model.freezed.dart
/lib/features/user_camps/data/model/user_camp_model.g.dart
/lib/features/user_camps/data/state/user_camp_state.freezed.dart
